/************************************************* 
                8bits avatar CSS design 
*************************************************/
/*  Defino un comodín. Afecta a toda la pagina  */
*
{
    /* Modifico el modelo de caja, el ancho especificado es el ancho
    total y no el del contenido */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
         font-family: '8bit_wondernominal';
         font-weight: normal;
         font-style : normal;
         
         src        : url('fonts/8-bit_wonder-webfont.eot');
         src        : url('fonts/8-bit_wonder-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/8-bit_wonder-webfont.woff') format('woff'),
         url('fonts/8-bit_wonder-webfont.ttf') format('truetype'),
         url('fonts/8-bit_wonder-webfont.svg#8bit_wondernominal') format('svg');
}

/*  Font size: 16px = 12pt = 100% = 1em */
body
{
    font-family: '8bit_wondernominal', Helvetica, Verdana;
    font-size  : .750em; /*8pt*/
    
    margin     : 0;
    padding    : 0;
    
    color      : #fff;
    background : #212121;
}

header, footer
{
    max-width    : 1024px;
    margin       : 5px auto;
    
    border-radius: 5px;
    background   : #42a8d9;
}

    header h1
    {
        padding   : .5% 0;
        
        text-align: center;
        
        color     : #fff;
    }

    footer p
    {
        font-size   : .563em;
                
        padding     : 5px 0;
        padding-left: .4%;
        
        color       : #000;
}


div#container, div#disqus_thread
{
    max-width: 1024px;
    margin   : 0 auto;
}

section#principal, aside#visual, div#disqus_thread
{
    -webkit-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease;

    background: #42a8d9;
}

    section#principal
    {
        min-width                 : 240px;
        margin-left               : 205px;
        
        border-top-right-radius   : 5px;
    }

        section#principal input
        {
            display: none;
        }

        section#principal label
        {
            display   : block;
            
            padding   : 4px;
            
            cursor    : pointer;
            
            color     : #42a8d9;
            background: #fff;
            -webkit-box-shadow: 0 3px 12px 0 rgba(48, 50, 50, .78);
               -moz-box-shadow: 0 3px 12px 0 rgba(48, 50, 50, .78);
                    box-shadow: 0 3px 12px 0 rgba(48, 50, 50, .78);
        }

            .curvatura-up{
                border-top-right-radius: 5px;
            }

            section#principal label:hover
            {
                display: block;
                
                cursor : pointer;
                
                color  : #212121;
            }

    
            /*input se puede especificar tambien: input[type="radio"]*/
            section#principal input:checked + label,
            section#principal input:checked + label:hover{
                color: #212121;    
            }

            section#principal article
            {
                overflow: hidden;
                
                height  : 0;

                -webkit-transition: .3s ease-in-out;
                   -moz-transition: .3s ease-in-out;
                    -ms-transition: .3s ease-in-out;
                     -o-transition: .3s ease-in-out;
                        transition: .3s ease-in-out;
            }

            section#principal input[type="radio"]:checked ~ article{
                min-height: 99px;
                height: auto;
            }

            section#principal img
            {
                width           : 70px;
                height          : 90px;
                margin          : 5px 1px;
                
                cursor          : pointer;
                
                border          : 1px solid #000;
                background-color: rgba(255,255,255,.5);
            }

    aside#visual
    {
        position                 : absolute;
        
        width                    : 200px;
        padding-bottom           : 5px;
        
        text-align               : center;
        
        border-top-left-radius   : 5px;
        border-bottom-left-radius: 5px;
    }

        aside#visual #miCanvas
        {
            display       : block;
            
            margin        : 0 auto;
            margin-top    : 2px;
            padding-bottom: 5px;
        }

        aside#visual input{
            border: 0;
            margin: 2px auto;
            margin-bottom: 4px;
            text-align: center;
        }

        aside#visual a
        {
            padding        : 5px;
            
            text-decoration: none;
            
            color          : #fff;
        }


        aside#visual a:hover{
            color: #212121;
        }

    div#disqus_thread
    {
        margin-top: 5px;
        padding   : 3px;
        
        color     : #fff;
    }

        .dsq-brlink
        {
            text-align: center;
            
            color     : rgba(255,255,255,.3);
        }